.home{
    background-color: black;
    height: 100vh;
    width: 100%;
    color:white;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.intro{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 124px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.intro2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 2vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.box-head{

    margin-top: 20vh;
   
}
.img-box{
    border-radius: 20px;
    border:5px solid #0077b5;
    margin-top: 10vh;
}
@media  screen and (max-width:1400px) {
    .box-head{
        margin-top: 7vh;
    }
    .img-box{
        width:550px;
        margin:auto;
    }
    .intro{
        font-size: 90px;
    }
    .intro2{
        font-size: 17px;
    }
}
@media  screen and (max-width:573px) {
    .box-head{
        margin-top: 7vh;
    }
    .img-box{
        width:450px;
        margin:auto;
    }
    .intro{
        font-size: 85px;
    }
}
@media  screen and (max-width:423px) {
    .box-head{
        margin-top: 7vh;
    }
    .img-box{
        width:350px;
        margin:auto;
    }
    .intro{
        font-size: 70px;
    }
    .intro2{
        font-size: 16px;
    }
}
@media  screen and (max-width:367px) {
    .box-head{
        margin-top: 7vh;
    }
    .img-box{
        width:300px;
        margin:auto;
    }
    .intro{
        font-size: 67px;
    }
    .intro2{
        font-size: 16px;
    }
}